<h1 style="margin-top:25px; text-align: center;">All Users</h1>

<div class="container">
  <div class="row" *ngFor="let user of users">
    <div class="user-card-header card-header">
      <h4 class="card-title card-header-title">{{ user.name }}</h4>
      <a href="" (click)="deleteUserOnClick(user)" class="remove-button"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
    <div class="card card-block">      
      <h5 class="card-subtitle">{{user.email}}</h5>
    </div>
  </div>
</div>