<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <a class="navbar-brand" href="/">SSST Announcer</a>

  <div class=" navbar-collapse">
    <ul class="navbar-nav mr-auto" style="margin: 0px !important;">
      <li class="nav-item active">
        <a class="nav-link" href="/all-announcements">All Announcements <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">All Users</a>
      </li>

      <a class="nav-link" style="float: right; margin-left: 25px;" href="/login">Sign In</a>
      <a class="nav-link" style="float: right; margin-left: 25px;" href="/signup">Register</a>
      <a class="nav-link" style="float: right;" href="/new-announcement">New Announcement</a>
    </ul>
    
  </div>
</nav>

<router-outlet></router-outlet>
