<div class="container">
	<h1 style="margin-top:25px; text-align: center;">Add a New User</h1>
	<form #signupForm="ngForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" [(ngModel)]="user.name" name="first" id="name" required>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" [(ngModel)]="user.email" name="email" id="email">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="password">
		</div>
		<div class="checkbox">
			<label>
				<input  [checked]="user.isProfessor" type="checkbox"> Professor
			</label>
		</div>
		<button type="submit" href="/login" (click)="createUserOnClick(user)" class="btn btn-success">Confirm</button>

	</form>
</div>