
<div class="container">
  <div class="row" *ngFor="let announcement of announcements">
    <div class="card card-block">
      <h4 class="card-title">{{ announcement.title }}</h4>
      <h5 class="card-subtitle">{{ announcement.sender }}</h5>
      <span> {{ announcement.datetime }} </span>
      <p class="card-text">{{announcement.content}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href (click)="deleteAnnouncementOnClick(announcement)" class="card-link">Delete this user</a>
    </div>
  </div>
</div>
